.managerContacts-section{
    padding: 70px 0;
}

.managerContacts__title{
    margin-bottom: 30px;

    text-align: center;
    font-family: Jost, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #000;
}

.managerContacts__buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.managerContacts__button{
    padding: 14px 5px;
    border-radius: 9px;
    -webkit-box-shadow: 0 5px 19px 0 rgba(254, 48, 89, .45);
    box-shadow: 0 5px 19px #fe305973;
    display: block;
    max-width: 260px;
    width: 100%;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    background-color: #fe3059;
    -webkit-transition: background-color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
    transition: background-color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, background-color .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, background-color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}