.parsingHero-section{
    padding: 0;
    background-image: url(../../../public/img/hero-bg-shadow-0QwPPoe8.svg);
    background-size: 500px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.parsingHero-container{
    padding: 220px 15px 90px;
    background-image: url(../../../public/img/heroParsing.png);
    background-size: 620px;
    background-position: 94% 80%;
    background-repeat: no-repeat;
}

.parsingHero-container .hero__button{
    text-align: center;
}