.cryptoSecondAdvantages{
    padding: 30px;
}

.cryptoSecondAdvantages-title{
    font-size: 34px;
    margin-bottom: 37px;

    text-align: center;
    font-family: Jost, sans-serif;
    font-weight: 700;
    color: #000;
}

.cryptoSecondAdvantages__list{
    display: grid
;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.cryptoSecondAdvantages__item{
    position: relative;
    padding: 20px 25px;
    border-radius: 31px;
    display: grid
;
    grid-template-columns: 92px 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px 20px;
    color: #000;
    background-color: #e9fbff;
}

.cryptoSecondAdvantages__item-icon{
    width: 92px;
    height: 92px;
}

.cryptoSecondAdvantages__item-icon img{
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.cryptoSecondAdvantages__item-title{
    font-family: Jost, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.cryptoSecondAdvantages__item-text{
    grid-column: span 2;
    font-family: Circe, sans-serif;
    font-size: 16px;
    font-weight: 400;
}