@import 'modern-normalize';
@import url('reset.css');
@import url('font.css');

@import url('components/utils/Container/container.css');
@import url('components/header/header.css');
@import url('components/hero/hero.css');
@import url('components/socialMediaBar/socialMediaBar.css');
@import url('components/geoSelector/GeoSelector.css');
@import url('components/advantages/advantages.css');
@import url('components/offer/offer.css');
@import url('components/tariff/tariff.css');
@import url('components/feedbacks/feedbacks.css');
@import url('components/network/network.css');
@import url('components/superpowers/superpowers.css');
@import url('components/start/start.css');
@import url('components/footer/footer.css');
@import url('components/about/about.css');
@import url('components/pay/pay.css');
@import url('components/refferal/refferal.css');
@import url('components/buyOffer/buyOffer.css');
@import url('components/dynamicHero/dynamicHero.css');
@import url('components/dynamicAbout/dynamicAbout.css');
@import url('components/dynamicAdvantages/dynamicAdvantages.css');
@import url('components/integration/integration.css');
@import url('components/ispHero/ispHero.css');
@import url('components/parsingHero/parsingHero.css');
@import url('components/parsingAdvantages/parsingAdvantages.css');
@import url('components/parsingSecondAdvantages/parsingSecondAdvantages.css');


body{
    font-family: Circe, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    /*background-color: antiquewhite;*/
}


.buyNowPage{
    padding-top: 150px;
}


.hero__title {
    margin-bottom: 14px;
    max-width: 550px;
    text-transform: uppercase;
    font-family: Jost, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #000;

}