@import 'modern-normalize';
@import url('reset.css');
@import url('font.css');

@import url('components/utils/Container/container.css');
@import url('components/header/header.css');
@import url('components/hero/hero.css');
@import url('components/socialMediaBar/socialMediaBar.css');
@import url('components/geoSelector/GeoSelector.css');
@import url('components/advantages/advantages.css');
@import url('components/offer/offer.css');
@import url('components/tariff/tariff.css');
@import url('components/feedbacks/feedbacks.css');
@import url('components/network/network.css');
@import url('components/superpowers/superpowers.css');
@import url('components/start/start.css');
@import url('components/footer/footer.css');


body{
    font-family: Circe, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    /*background-color: antiquewhite;*/
}





