.info{
    padding: 70px 0;
    text-align: center;
    font-size: 24px;
}

.info__top-text{
    margin-bottom: 50px;
    color: #097bf8;
    font-family: Jost, sans-serif;
    font-weight: 700;
}

.info__image{
    margin: 0 auto 50px;
    max-width: 350px;
    width: 100%;
}

.info__image img{
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.info__bottom-text{
    font-weight: 400;
    color: #000;
}